################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VituraHealth/bin/Debug/net8.0
/VituraHealth/obj/Debug/net8.0
/VituraHealth/obj/Release/net8.0
/VituraHealth/obj/project.assets.json
/VituraHealth/obj/project.nuget.cache
/VituraHealth/obj/VituraHealth.Api.csproj.nuget.dgspec.json
/VituraHealth/obj/VituraHealth.Api.csproj.nuget.g.props
/VituraHealth/obj/VituraHealth.Api.csproj.nuget.g.targets
/VituraHealth.Application/bin/Debug/net8.0
/VituraHealth.Application/obj/Debug/net8.0
/VituraHealth.Application/obj/project.assets.json
/VituraHealth.Application/obj/project.nuget.cache
/VituraHealth.Application/obj/VituraHealth.Application.csproj.nuget.dgspec.json
/VituraHealth.Application/obj/VituraHealth.Application.csproj.nuget.g.props
/VituraHealth.Application/obj/VituraHealth.Application.csproj.nuget.g.targets
/VituraHealth.Domain/bin/Debug/net8.0
/VituraHealth.Domain/obj/Debug/net8.0
/VituraHealth.Domain/obj/Release/net8.0
/VituraHealth.Domain/obj/project.assets.json
/VituraHealth.Domain/obj/project.nuget.cache
/VituraHealth.Domain/obj/VituraHealth.Domain.csproj.nuget.dgspec.json
/VituraHealth.Domain/obj/VituraHealth.Domain.csproj.nuget.g.props
/VituraHealth.Domain/obj/VituraHealth.Domain.csproj.nuget.g.targets
/VituraHealth.Infrastructure/bin/Debug/net8.0
/VituraHealth.Infrastructure/obj/Debug/net8.0
/VituraHealth.Infrastructure/obj/Release/net8.0
/VituraHealth.Infrastructure/obj/project.assets.json
/VituraHealth.Infrastructure/obj/project.nuget.cache
/VituraHealth.Infrastructure/obj/VituraHealth.Infrastructure.csproj.nuget.dgspec.json
/VituraHealth.Infrastructure/obj/VituraHealth.Infrastructure.csproj.nuget.g.props
/VituraHealth.Infrastructure/obj/VituraHealth.Infrastructure.csproj.nuget.g.targets
/VituraHealth.UnitTests/bin
/VituraHealth.UnitTests/obj/Debug/net8.0
/VituraHealth.UnitTests/obj/Release/net8.0
/VituraHealth.UnitTests/obj/project.assets.json
/VituraHealth.UnitTests/obj/project.nuget.cache
/VituraHealth.UnitTests/obj/VituraHealth.UnitTests.csproj.nuget.dgspec.json
/VituraHealth.UnitTests/obj/VituraHealth.UnitTests.csproj.nuget.g.props
/VituraHealth.UnitTests/obj/VituraHealth.UnitTests.csproj.nuget.g.targets
